.login
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
}

.fieldset-login
{
    border-radius: 5px;
    border-color: rgb(0, 136, 255);
}

.legend-login
{
    font-size: 5vh;
    color: rgb(0, 136, 255);;
}

.button-login
{
    display: block;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: solid white;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(0, 136, 255);
    color: white;
    font-weight: bold;
}

.button-login:hover
{
    background-color:white;
    color:  rgb(0, 136, 255);
    border: solid rgb(0, 136, 255);
}

.input-login
{
    display: block;
    margin-top: 2vh;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(0, 136, 255);
    color: rgb(0, 26, 255);
}