{% extends 'base.html.twig' %}

{% block body %}
    <div class="contenedor">
        <h1 class="title">Bienvenido {{user}}</h1>

        <a href="/pdf/GuiaParaEntenderAlGato.pdf" class="button-pdf" target='_blank'>Descargar PDF</a>
    </div>
{% endblock %}